<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>
        ul{
            display: flex;
            justify-content: space-between;
            background-color: rgb(204, 132, 37);
            border: 3px solid black;
            padding: 10px;
            margin: 0;
        }
        li{
            list-style: none;
            font-size: 18px;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }

        li:hover{
            color: black;
        }
    </style>
</head>
<body>
     {%extends 'welcome.html'%}
    {% block content%}
    <h1>welcome to contact</h1>
    {% endblock%}
    
</body>
</html>