
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul{
            display: flex;
            justify-content: space-between;
            background-color: rgb(204, 132, 37);
            border: 3px solid black;
            padding: 10px;
            margin: 0;
        }
        li{
            list-style: none;
            font-size: 18px;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }

        li:hover{
            color: black;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
        </ul>
    </nav>
    <h1>welcome to django</h1>
</body>
</html>
